@import 'tailwindcss';

@layer {
  body {
    font-family: 'Pretendard', sans-serif;
    color: var(--color-gray950);
    background-color: var(--color-white);
  }

  button {
    cursor: pointer;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px var(--color-white) inset !important;
    -webkit-text-fill-color: var(--color-gray950) !important;
    caret-color: var(--color-gray950) !important;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-gray200);
    border-radius: 999px;
  }

  .textarea-custom-scrollbar::-webkit-scrollbar {
    width: 3px;
  }
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  --text-32-b: 32px;
  --text-32-b--font-weight: 700;

  --text-32-m: 32px;
  --text-32-m--font-weight: 500;

  --text-24-b: 24px;
  --text-24-b--font-weight: 700;

  --text-24-m: 24px;
  --text-24-m--font-weight: 500;

  --text-20-b: 20px;
  --text-20-b--font-weight: 700;

  --text-20-m: 20px;
  --text-20-m--font-weight: 500;

  --text-18-b: 18px;
  --text-18-b--font-weight: 700;

  --text-18-m: 18px;
  --text-18-m--font-weight: 500;

  --text-16-b: 16px;
  --text-16-b--font-weight: 700;

  --text-16-m: 16px;
  --text-16-m--font-weight: 500;

  --text-14-b: 14px;
  --text-14-b--font-weight: 700;

  --text-14-m: 14px;
  --text-14-m--font-weight: 500;

  --text-13-b: 13px;
  --text-13-b--font-weight: 700;

  --text-13-m: 13px;
  --text-13-m--font-weight: 500;

  --text-12-b: 12px;
  --text-12-b--font-weight: 700;

  --text-12-m: 12px;
  --text-12-m--font-weight: 500;

  --text-11-b: 11px;
  --text-11-b--font-weight: 700;

  --text-11-m: 11px;
  --text-11-m--font-weight: 500;

  --text-20-body-b: 20px;
  --text-20-body-b--line-height: 1.4;
  --text-20-body-b--font-weight: 700;

  --text-18-body-b: 18px;
  --text-18-body-b--line-height: 1.4;
  --text-18-body-b--font-weight: 700;

  --text-16-body-m: 16px;
  --text-16-body-m--line-height: 1.8;
  --text-16-body-m--font-weight: 500;

  --text-14-body-m: 14px;
  --text-14-body-m--line-height: 1.8;
  --text-14-body-m--font-weight: 500;
}

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #ff2727;

  --color-primary100: #e5f3ff;
  --color-primary500: #3d9ef2;

  --color-gray25: #f8f8f8;
  --color-gray50: #edeef2;
  --color-gray100: #e0e0e5;
  --color-gray200: #c6c8cf;
  --color-gray300: #b3b4bc;
  --color-gray400: #9fa0a7;
  --color-gray500: #84858c;
  --color-gray600: #707177;
  --color-gray700: #5d5d61;
  --color-gray800: #49494c;
  --color-gray900: #323236;
  --color-gray950: #1f1f22;
}

@theme {
  --shadow1: 0 8px 20px 0 rgba(0 0 0 /5%);
  --shadow2: 0 4px 24px 0 rgba(156 180 202 /20%);
  --shadow-search-bar: 0 6px 10px 0 rgba(13 153 255 /5%);
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff2')
    format('woff2');
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff2')
    format('woff2');
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff')
    format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
