@import "tailwindcss";

@layer {
  body {
    font-family: "Pretendard", sans-serif;
    color: var(--color-gray950);
    background-color: var(--color-white);
  }
  button {
    cursor: pointer;
  }
}

@theme {
  --text-32-b: 32px;
  --text-32-b--font-weight: 700;

  --text-32-m: 32px;
  --text-32-m--font-weight: 500;

  --text-24-b: 24;
  --text-24-b--font-weight: 700;

  --text-24-m: 24;
  --text-24-m--font-weight: 500;

  --text-20-b: 20px;
  --text-20-b--font-weight: 700;

  --text-20-m: 20px;
  --text-20-m--font-weight: 500;

  --text-18-b: 18px;
  --text-18-b--font-weight: 700;

  --text-18-m: 18px;
  --text-18-m--font-weight: 500;

  --text-16-b: 16px;
  --text-16-b--font-weight: 700;

  --text-16-m: 16px;
  --text-16-m--font-weight: 500;

  --text-14-b: 14px;
  --text-14-b--font-weight: 700;

  --text-14-m: 14px;
  --text-14-m--font-weight: 500;

  --text-13-b: 13px;
  --text-13-b--font-weight: 700;

  --text-13-m: 13px;
  --text-13-m--font-weight: 500;

  --text-12-b: 12px;
  --text-12-b--font-weight: 700;

  --text-12-m: 12px;
  --text-12-m--font-weight: 500;

  --text-11-b: 11px;
  --text-11-b--font-weight: 700;

  --text-11-m: 11px;
  --text-11-m--font-weight: 500;

  --text-20-body-b: 20px;
  --text-20-body-b--line-height: 1.4;
  --text-20-body-b--font-weight: 700;

  --text-18-body-b: 18px;
  --text-18-body-b--line-height: 1.4;
  --text-18-body-b--font-weight: 700;

  --text-16-body-m: 16px;
  --text-16-body-m--line-height: 1.8;
  --text-16-body-m--font-weight: 500;

  --text-14-body-m: 14px;
  --text-14-body-m--line-height: 1.8;
  --text-14-body-m--font-weight: 500;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff2")
    format("woff2");
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff2")
    format("woff2");
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
